* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EADFF8;
    color: #312F27;
    width: 25em;
    height: 20em;
    font-size: 16px;
}

.title-hidden {
    background-color: grey;
    margin: 10px;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding: 2%;
}

h2 {
    text-align: center;
    padding: 2%;
}

input {
    outline: none;
    width: 50vw;
}

.form input[type='text'] {
    padding-left: 2%;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.form {
    display: flex;
    height: 9vh;
}

.button-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C9A2EE;
    color: #312F27;
    font-weight: bold;
    padding: 3.5%;
    width: 15vw;
    height: 9vh;
    border-radius: 5px;
    margin-left: 40px;
    cursor: pointer;
}


.stringStrike {
    text-decoration: line-through;
}

.todoList {
display: flex;
justify-content: center;
height: 100%;
width: auto;
}


ion-icon {
    /* font-size: 15px; */
    padding: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    border: none;
    background-color: #EADFF8;
}

svg {
    font-weight: 200;
}

.edit {
    background-color: #F9E660;
    color: #333;
    font-size: 16px;
    /* background-image: url("img/pencil.svg"); */
    cursor: pointer;
}

.done {
    background-color: #35E993;
    color: #333;
    font-size: 16px;
    /* background-image: url("img/checkmark-done.svg"); */
    cursor: pointer;
}

.delete {
    background-color: red;
    color: #333;
    /* background-image: url("img/trash.svg"); */
    cursor: pointer;
}







/* ------------------------ footer -------------------- */

footer {
    bottom: 0;
    margin-top: 40px;
    height: 10vh;
}

.todoButtonAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDeleteAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #412299;
    color: #F4FF94;
    font-weight: bold;
    padding: 6%;
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
    cursor: pointer;
}